
.jumbotron {
    color: whitesmoke;
    background-color: #519dcf;
}

.intro-text {
    te
}

.home-image {
    width: 100%;
    height: auto;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #519dcf;
    color: white;
    text-align: center;
}

form {
    margin: 20px;
}

.bold {
    font-weight: bold;
}